.iconobackeditarperfil{
    color: var(--color-iconos-secundario);
    font-size: 24px;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 1.3rem;
    padding-bottom: 3%;
}

.headertuto{
    text-align: center;
    margin-top: 4%;
}

.titletuto{
    font-weight: 700;
    font-size: 28px;
    color: var(--color-tipografia-principal);
    margin-bottom: 2px;
}

.desctuto{
    font-size: 12px;
    color: var(--color-tipografia-secundario);
}

.infoeditar{
    text-align: center;
}

.titlefoto{
    font-weight: 700;
    font-size: 12px;
    color: var(--color-tipografia-principal);
    margin-bottom: 2px;
    margin-top: 4%;
}

.tituloinput{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-tipografia-principal);
}

.paddingconfigperfil{
    padding-left: 10%;
    padding-right: 10%;
}

hr {
    margin: 1rem 0;
    color: var(--color-iconos-secundario);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.centrado{
    text-align: center;
}

.bio-textarea {
    min-height: 90px;
    resize: vertical;
    padding-top: 10px;
}
