    #tabHighlight {
        position: absolute;
        bottom: 0;
        width: 30%;
        height: 4px;
        background: var(--color-iconos-secundario);;
        transition: transform 0.3s ease;
        border-radius: 10px;

    }

    .tabItem {
        position: relative;
        z-index: 5;
        color: var(--color-tipografia-principal);
    }

    
    .carouselContent {
        display: none;
        opacity: 0;
        transform: translateX(20px);
        transition: 0.3s ease;
    }

    .carouselContent.activeTab {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }

    .form-control {
    background-color: #fff;
}

.titlenotificaciones{
    font-weight: 700;
    color: var(--color-tipografia-principal);
    font-size: 18px;
    margin-top: 12%;
    margin-bottom: 5%;

}