body{
    padding-bottom: unset;
    padding-bottom: 15%;
}

.iconosperfil{
    color: var(--color-iconos-secundario);
    font-size: 24px;
    --bs-btn-padding-x: 1.9rem;
    --bs-btn-padding-y: 1.3rem;
    padding-bottom: 0%;
}

.titlenotis{
    color: var(--color-tipografia-principal);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 18%;
    margin-left: 28%;
}

.titlenotificaciones{
    font-weight: 700;
    color: var(--color-tipografia-principal);
    font-size: 20px;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 8%;

}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--color-tipografia-principal);
    --bs-table-bg: var(--color-background);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--color-background);
}

.btn-notis {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: 18px;
    font-size: 12px;
}

.descnoti{
    font-size: 12px;
    color: var(--color-tipografia-secundario);
}

.usuarionotissug{
    font-weight: 700;
    color: var(--color-tipografia-principal);
    font-size: 16px;
    margin-bottom: 0%;

}

.descsug1{
    font-size: 12px;
    color: var(--color-tipografia-principal);
    margin-bottom: 0%;
}

.descsug2{
    font-size: 12px;
    color: var(--color-tipografia-secundario);
    font-weight: 700;
}

.iconosug{
    color: var(--color-iconos-secundario);
}

.btn-sug {
    --bs-btn-padding-x: 3rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: 18px;
    font-size: 12px;
}

.row-sugbtn{
    text-align: center;
}

.btn-secondary-quitar {
    --bs-btn-bg: var(--color-tipografia-secundario);
    --bs-btn-active-bg: var(--color-background);
    --bs-btn-border-color: var(--color-background);
    --bs-btn-active-border-color: var(--color-background);
    --bs-btn-hover-bg: var(--color-background);
    --bs-btn-hover-border-color: var(--color-background);
    font-size: 12px;
}

hr {
    margin: 1rem 0;
    color: var(--color-iconos-secundario);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}
