.seccionperfil{
    text-align: center;
    color: var(--color-tipografia-principal);
}

.iconosperfil{
    color: var(--color-iconos-secundario);
    font-size: 24px;
    --bs-btn-padding-x: 1.9rem;
    --bs-btn-padding-y: 1.3rem;
    padding-bottom: 0%;
}

.titleperfil{
    font-weight: 700;
    font-size: 28px;
}

.descperfil{
    font-size: 12px;
    color: var(--color-tipografia-secundario);
}

.followersperfil{
    font-size: 14px;
    font-weight: 700;
}

.btn{
    --bs-btn-padding-x: 1.7rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: 18px;
}

.btn-primary{
    --bs-btn-bg: var(--color-iconos-principal);
    --bs-btn-active-bg: var(--color-iconos-principal);
    --bs-btn-border-color: var(--color-iconos-principal);
    --bs-btn-active-border-color: var(--color-iconos-principal);
    --bs-btn-hover-bg: var(--color-iconos-principal);
    --bs-btn-hover-border-color: var(--color-iconos-principal);
    font-size: 14px;
    font-weight: 700;


}

.profile-tabs .tab-btn {
  background: none;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 1.1rem;
  color: var(--color-iconos-secundario);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.profile-tabs .tab-btn.active {
  color: var(--color-iconos-principal);
}

.profile-tabs .tab-btn:focus {
  outline: none;
}

.profile-carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.profile-carousel img {
    width: 40%;
    border-radius: 12px;
}

.tabcontent{
    padding-left: 0%;
    padding-right: 0%;
}

.btn-post-profile {
    --bs-btn-padding-x: 1.4rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: 18px;
}

.img-resize-perfil {
    width: 295px;
    height: 315px;
    margin-top: 6%;
}

.tutorial-card-link {
    text-decoration: none;
    color: inherit;
}

.tutorial-card {
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    margin: auto;
    display: block;
}

.tutorial-card-img {
    width: 100%;
}

.tutorial-card-footer {
    background: #ffffff;
    padding: 40px 0;
    text-align: center;
}

.tutorial-card-footer h5 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--color-background);
    font-weight: 600;
}








