@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
	--color-background:#2B2533;
	--color-tipografia-alternativo:#CDB4DB;
	--color-tipografia-secundario:#939393;
	--color-tipografia-principal:#F5F5F5;
	--color-iconos-secundario:#CDB4DB;
	--color-iconos-principal:#7B4AE2;
	--color-gris-oscuro:#272727;
    --color-cards-inicio:#20192A;
}


body{
    width: 430;
    height: 932;
    font-family: "Inter", sans-serif;
    background-color: var(--color-background);
}

.croshareminilogo{
    margin-top: 15%;
    padding-left: 35%;
    background-color: var(--color-background);
}

.navbarcroshare{
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-tipografia-principal);
    padding-top: 5%;
    padding-bottom: 3%;
    box-shadow: 0px 5px 5px #171120;
}

.btn-secondary{
    --bs-btn-bg: var(--color-background);
    --bs-btn-active-bg: var(--color-background);
    --bs-btn-border-color: var(--color-background);
    --bs-btn-active-border-color: var(--color-background);
    --bs-btn-hover-bg: var(--color-background);
    --bs-btn-hover-border-color: var(--color-background);
    font-size: 12px;

}


.cardposts{
    background-color: var(--color-background);
    color: var(--color-tipografia-principal);
    margin-top: 5%;
    margin-left: 1%;
}

.perfilposts{
    font-size: 16px;
}

.perfilestado{
    font-size: 10px;
    color: var(--color-tipografia-secundario);
}



.splash-container {
    margin-top: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cardinicio{
    --bs-card-bg: var(--color-cards-inicio);
    color: var(--color-tipografia-principal);
    text-align: center;
    --bs-card-border-radius: 20px;

}

.titulocardinicio{
    font-weight: 700;
    font-size: 24px;
    padding-top: 20%;
    padding-bottom: 10%;
    color: var(--color-tipografia-principal);
}

.subtitulocardinicio{
    font-size: 14px;
    padding-bottom: 8%;
}

.tituloinput{
    font-size: 16px;
    font-weight: 700;
}

.btn-primary{
    --bs-btn-bg: var(--color-iconos-principal);
    --bs-btn-active-bg: var(--color-iconos-principal);
    --bs-btn-border-color: var(--color-iconos-principal);
    --bs-btn-active-border-color: var(--color-iconos-principal);
    --bs-btn-hover-bg: var(--color-iconos-principal);
    --bs-btn-hover-border-color: var(--color-iconos-principal);
    font-size: 16px;


}

.btn{
    --bs-btn-padding-x: 3rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: 18px;
}

.marginbottom{
    margin-bottom: 20%;
}

.margincards{
    margin-left: 10%;
    margin-right: 10%;
}

.iconoback{
    color: var(--color-iconos-secundario);
    font-size: 24px;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 1.3rem;
}

.numbox{
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 18%;
    
}

.form-control{
    background-color: var(--color-background);
    color: var(--color-tipografia-principal);
    text-align: center;
}

.form-control-contra{
    background-color: var(--color-tipografia-principal);
    color: var(--color-gris-oscuro);
    text-align: left;

}

a {
    color: var(--color-tipografia-secundario);
}

.btn-outline-primary {
    --bs-btn-color: var(--color-iconos-principal);
    --bs-btn-border-color: var(--color-iconos-principal);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-iconos-principal);
    --bs-btn-hover-border-color: var(--color-iconos-principal);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-iconos-principal);
    --bs-btn-active-border-color: var(--color-iconos-principal);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-iconos-principal);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-iconos-principal);
    --bs-gradient: none;
}

.margintop{
    margin-top: 40%;
}

.titulobienvinicio{
    font-weight: 700;
    font-size: 32px;
    padding-top: 20%;
    padding-bottom: 10%;
    color: var(--color-tipografia-alternativo);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 70vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s 
ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
}